<%- include("header")%>


<%- include("nav")%>
<form  class="container w-50 mt-5 p-5 text-center" action="/edit/<%= task.id%>" method="post">
    <h1 class="text-start"><span class="text-success ">Create Task</span></h1>
    <input class="form-control mb-2 py-2 fs-5" type="text" value="<%= task.title%>" placeholder="Title" name="title">
    <textarea  class="form-control mb-2 py-2 fs-5" type="text" placeholder="Description here"  name="desc"cols="20" rows="10"><%= task.desc%></textarea>
    <button class=" w-100 btn btn-primary">Update Task</button>
</form>

<%- include("footer")%>